# Ejemplo de .env para despliegue
SECRET_KEY=tu_secret_key_aqui
DEBUG=False
ALLOWED_HOSTS=example.com,www.example.com
DATABASE_URL=postgres://user:password@localhost:5432/mi_basedatos
STATIC_ROOT=/var/www/ferreteria/staticfiles
SECURE_SSL_REDIRECT=True

